<h2>Liste des fournisseurs (entreprises et individus)</h2>
<table>
	<thead>
		<tr>
			<td>Etablissement</td>
			<td>Ville</td>
			<td>Opérations</td>
		</tr>
	</thead>
	<tbody>
		<%@providers.each do |prov|%>		
		<tr>
			
			<td><%=link_to prov.names,{:action=>'show',:id=>prov.id}%></td>
			<td><%= prov.town%></td>
			<td><%=link_to 'Modifier',admin_provider_edit_path(:id=>prov.id), class:'editButton'%>
				<%=link_to 'Supprimer',admin_provider_delete_path(:id=>prov.id), class:'deleteButton'%></td>
		</tr>
		<%end%>
	</tbody>
</table>
<%=will_paginate @providers, class:'newButton'%>
<%=link_to 'Nouveau', admin_provider_new_path(), class:'newButton'%>
