<h2>Fournisseur: <%=@provider.names%></h2> 

<table>
	<tr>
		<td>Noms</td><td><b><%=@provider.names%></td></b>
	</tr>
	<tr>
		<td>Téléphone</td><td><b><%=@provider.telephone%></td></b>
	</tr>
	<tr>
		<td>E-mail</td><td><b><%=@provider.email%></td></b>
	</tr>
</table>

<p><%=link_to 'Retour', admin_provider_index_path(), class:'link'%>
<%=link_to 'Modifier', admin_provider_edit_path(:id=>@provider), class:'editButton' %></p>
