<h2>Liste des résérvations</h2>
<table>
	<thead>
		<tr>
			<td>Nom</td>
			<td>Article</td>
			<td>Quantité</td>
			<td>Opérations</td>
		</tr>
	</thead>
	<tbody>
		<%if @books.nil?%>
		<tr>
			<td>
				<%flash[:notice]="Selectionnez un article puis precisez la quantité à reserver."%>
		<%else%>
		<%@books.each do |book|%>
			</td>
		</tr>
		
		<tr>			
			<td><%=book.customer.names%></td>
			<td><%=book.item.name%></td>
			<td><%="#{book.quantity} #{book.item.unit.pluralize(book.quantity)}"%></td>
			<td><%=link_to 'Annuler',bookings_list_path(:id=>book.id), class:'deleteButton'%><%=link_to 'servir article',bookings_order_path(:id=>book.id), class:'link'%></td>
		</tr>
		<%end%>
		<%end%>
		
	</tbody>
</table>
<%=will_paginate @books, class:'newButton'%>
