<h2>Compte d'utilisateur : <%=@user.username%></h2>
<%= form_for @user, :url=>{:action=>'update', :id=>@user} do |user|%>
<% if @user.errors.any? %>
    <div class="error_messages">
      <h3><%=pluralize(@user.errors.size, " erreur")%>, enregistrement echoué</h3>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table>
  	<tr>
  		<td><label for='username'>Nom d'utilisateur</td><td><%=text_field 'user','username'%></td>  		
  	</tr>
  	<tr>
  		<td><label for='password'>Mot de passe</td><td><%=password_field 'user','password'%></td>
  	</tr>
  	<tr>
  		<td><label for='password_confimation'>Confirmer mot de passe</td><td> <%=password_field 'user','password_confirmation'%></td>
  	</tr>
  	<tr>
  		<td></td><td><%=submit_tag "Enregistrer",class:'link'%></td>
  	</tr>
  </table>
  
 
<% end %>
<%=link_to "Liste d'utilisateurs", users_list_path(),class:'link'%>
