<h2>Identification</h2>

<%= form_tag :action=>'create' do%>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h3><%=pluralize(@user.errors.size, " erreur")%>, enregistrement echoué</h3>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
 <table>
 	<tr>
 		<td>Nom d'utilisateur</td><td><%=text_field 'user','username'%></td>
 	</tr>
 	<tr>
 		<td>Mot de passe</td><td><%=password_field 'user','password'%></td>
 	</tr>
 	<tr>
 		<td>Confirmation du mot de passe</td><td><%=password_field 'user','password_confirmation'%><td>
 	</tr>
 	<tr>
 		<td></td><td><%=submit_tag "S'identifier",class:'link'%></td>
 	</tr>
 </table> 
<% end %>
