<h2>Approvisionnement du magasin </h2>
<h2><%="#{@deliveries.count} #{"résultat".pluralize(@deliveries.count)}"%></h2>

<table>
	<thead>
		<tr>
			<td>Date</td>
			<td>Article</td>
			<td>Qté</td>
			<td>P.unitaire</td>
			<td>P.total</td>
			<td>Fournisseur</td>
			<td>Acheteur</td>
			<td>Référence</td>
			<td>Opérations</td>
		</tr>
	</thead>
	<tbody>
		<%if @deliveries.nil?%>
		<%flash[:notice]='pas de ravitaillement enregistré.'%>
		<%else%>
		<%@deliveries.each do |deliv|%>		
		<tr>
			<td><%= deliv.date%></td>
			<td><%= deliv.item.name%></td>
			<td><%= "#{deliv.quantity} #{deliv.item.unit.pluralize(deliv.quantity)}"%></td>
			<td><%= number_to_currency(deliv.price)%></td>
			<td><%= number_to_currency(deliv.price*deliv.quantity)%></td>
			<td><%= deliv.provider.names %></td>
			<td><%=deliv.customer.names%></td>
			<td><%=deliv.reference%></td>
			
			
			<td><%=link_to 'Modifier',operation_delivery_edit_path(:id=>deliv.id), class:'editButton' %>
				<%=link_to 'Supprimer',operation_delivery_delete_path(:id=>deliv.id), class:'deleteButton'%></td>
		
		</tr>
		<%end%>
		<%end%>
	</tbody>
	
</table>

<%=will_paginate @deliveries, class:'newButton'%>
<%=link_to "Importer vers Excel",operation_delivery_index_path(format: "xls"), class:'link'%>
<%=link_to 'Rapports',operation_delivery_check_path(),class:'link'%>
<%=link_to 'Nouveau', operation_delivery_new_path(), class:'newButton'%>