<h2>Départements et services</h2>

<table>
	<thead>
		<tr>
			<td>Nom du service</td>
			<td>Opérations</td>
		</tr>
	</thead>
	<tbody>
<%@department.each do |dep|%>		
		<tr>
			<td><%=dep.description%></td>
			<td><%=link_to 'Modifier',admin_department_edit_path(:id=>dep.id),class:'editButton'%>
				<%=link_to 'Supprimer',admin_department_delete_path(:id=>dep.id),class:'deleteButton'%></td>
		</tr>
		<%end%>
	</tbody>
</table>
<%=will_paginate @departments, class:'newButton'%>
<%=link_to 'Nouveau', admin_department_new_path(), class:'newButton'%>
