<table>
	<thead>
		<tr>
			<td><b>Date</b></td>
			<td><b>Article</b></td>
			<td><b>Quantité</b></td>
			<td><b>Demandeur</b></td>			
			<td><b>Statut</b></td>
			<td><b>Opérations</b></td>
		</tr>
	</thead>
	<tbody>
		<%@orders.each do |ord|%>		
		<tr>
			<td><%= ord.date%></td>
			<td><%= ord.item.name%></td>
			<td><%= ord.quantity%></td>
			<td><%=Customer.find(ord.customer_id).names%></td>
			<td><%=Customer.find(ord.shipper).names%></td>
			
			
				<%if ord.status==1%>
			<td>Livré</td>
				<%else%>
			<td>En cours</td>	
				<%end%>			
		</tr>
		<%end%>
	</tbody>
</table>