<h2>Liste d'articles</h2>

<table>
	<thead>
		<tr>
			<td>Nom de l'article</td>
			<td>Stock</td>
			<td>Unité</td>
			<td>Opérations</td>
		</tr>
	</thead>
	<tbody>
		<%@items.each do |item|%>		
		<tr>
			
			<td><%=link_to item.name,{:action=>'show',:id=>item.id}%></td>
			<td><%= item.stock%></td>
			<td><%= item.unit%></td>
			<td><%=link_to 'Modifier',admin_item_edit_path(:id=>item.id), class:'editButton'%>
				<%=link_to 'Supprimer',admin_item_delete_path(:id=>item.id), class:'deleteButton'%></td>
		</tr>
		<%end%>
	</tbody>
</table>
<%=will_paginate @items, class:'newButton'%>
<%=link_to 'Nouveau', admin_item_new_path(), class:'newButton'%>
