<h2>Article : <%=@item.name%></h2>  

<table>
	<tr>
		<td>Nom</td><td><b>: <%=@item.name%></td></b>
	</tr>
	<tr>
		<td>Description</td><td><b>: <%=@item.detail%></td></b>
	</tr>
	<tr>
		<td>Quantité en stock</td><td><b>: <%=@item.stock%></td></b>
	</tr>
	<tr>
		<td>Unité de mesure</td><td><b>: <%=@item.unit%></td></b>
	</tr>
</table>

<p><%=link_to 'Retour', admin_item_index_path(), class:'link'%>
<%=link_to 'Modifier', admin_item_edit_path(:id=>@item), class:'editButton' %></p>
