<h2>Liste des agents</h2>

<table>
	<thead>
		<tr>
			<td>Noms</td>
			<td>Service</td>
			<td>Actions</td>
		</tr>
	</thead>
	<tbody>
		<%@customers.each do |cust|%>		
		<tr>
			
			<td><%=link_to cust.names,{:action=>'show',:id=>cust.id}%></td>
			<td><%=link_to cust.department.description,{:controller=>'department',:action=>'index'}%></td>
			<td><%=link_to 'Modifier',admin_customer_edit_path(:id=>cust.id), class:'editButton'%>
				<%=link_to 'Supprimer',admin_customer_delete_path(:id=>cust.id), class:'deleteButton'%></td>
		</tr>
		<%end%>
	</tbody>
</table>
<%=will_paginate @customers, class:'newButton'%>
<%=link_to 'Nouveau', admin_customer_new_path(), class:'newButton'%>
